
@{
    ViewBag.Title = "Index";
}

@model List<NIMAP_TASK.Models.ProductModel>
<html>
<head>
    <style>
        .tbl
        {
            margin-left:35%;
        }
        table th {
            background-color: #A4C2F4;
            border: 1px solid #ddd;
            padding: 8px;
        }
        a {
            text-decoration: none;
            border: 1px solid black;
            padding:7px;
            background-color: #A4C2F4;
        }
        .p {
            margin-left: 45%;
        }
        td 
        {
            border: 1px solid #ddd;
            padding: 8px;
            text-align:center;
        }
           
    </style>
</head>
<body>
    <table class="table tbl">
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>CategoryId</th>
            <th>CategoryName</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.CategoryId</td>
                <td>@product.CategoryName</td>
            </tr>
        }
    </table>

    @{
        int totalPages = (int)Math.Ceiling((double)ViewBag.TotalProducts / ViewBag.PageSize);
    }

    <br />

    @if (totalPages > 1)
    {
        <div class="p">
            @for (int i = 1; i <= totalPages; i++)
            {
                if (i == ViewBag.CurrentPage)
                {
                    <a>@i</a>
                }
                else
                {
                    <a href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize })">@i</a>
                }
            }
        </div>
    }
</body>
</html>

